<h1>Leaderboard</h1>



<table>
  <tr>
    <th>Bib Number</th>
    <th>Name</th>

    <th>Official ST</th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Ride Time</th>
 
    <th></th>
    <th></th>

  </tr>

<% @riders.each do |rider| %>
  <tr id="<%= rider.id %>">
    <td><%= rider.rider_number %></td>
    <td><%= rider.first_name %> <%= rider.last_name %></td>
    

    <td><%= rider.official_start_time.strftime("%l:%M:%S") %></td>
    <td><%= rider.start_time.strftime("%l:%M:%S") %></td>
    <% @finish_time_output = rider.finish_time.strftime("%l:%M:%S") unless rider.finish_time.nil? %>
    
    <td id="td_finish">
        <%= rider.finish_time.strftime("%l:%M:%S") unless rider.finish_time.nil? %>
        <%#= ChronicDuration.output(((rider.finish_time unless rider.finish_time.nil?).to_i), :format => :short) %>
    </td>

    
    <td id="td_ride_time">
        <%= ChronicDuration.output(((rider.finish_time - rider.start_time unless rider.finish_time.nil?).to_i), :format => :short) %>
        <%# e = rider.finish_time - @st %>
        <em><%#= ChronicDuration.output((e).to_i, :format => :short) %></em>
        <strong><%#= e.strftime("%l:%M:%S") %></strong>
        <%#= (((rider.finish_time) - @st).to_i).strftime("%l:%M:%S") %>
        <%# @rider_time_output = rider.finish_time.strftime("%l:%M:%S") unless rider.finish_time.nil? %>
        <%#= (rider.finish_time - @st) %>
        <%#= ChronicDuration.output((rider.finish_time - @st).to_i, :format => :chrono) unless rider.finish_time.nil? %>
    </td>



    <td><%= link_to 'Show', rider %></td>
   
  </tr>
<% end %>
</table>



