<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rider.name %>
</p>

<p>
	<b>Rider Start time:</b>
	<%#= rider_start_time(1) %>
	<%= @rider.start_time %>
	<%#= @race_start_time %>
</p>

<p>
  <b>Email:</b>
  <%= @rider.email %>
</p>


<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
