<!DOCTYPE html>
<html>
<head>
  <title>Fasterly - La Crosse Omnium TT, May 3rd, 2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
  <script src="http://js.pusher.com/2.0/pusher.min.js" type="text/javascript"></script>
  <script>
    var pusher_key = "<%= Pusher.key %>";
    var pusher_channel = "ride13-<%= Rails.env %>";
  </script>
  <%= csrf_meta_tags %>
  <% if params[:action] != 'index' %>
  	<meta http-equiv="refresh" content="35" />
  <% end %>

  <style>
  h1 {font-family: 'Sonsie One', cursive; color:#d4181f;}
  </style>

<!-- FOR TESTING PUSHER ONLY -REMOVE  
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher(pusher_key);
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data);
    });
  </script>
-->
</head>
<body>
<div class="container-fluid">

<%= yield %>
</div>
</body>
</html>
